.wrap {
  font-size: 34rpx;
  font-weight: 400;
  color: #666;
  position: relative;
}

.wrap .item {
  display: flex;
  height: 100rpx;
  border-bottom: solid 0.5px #ccc;
}

.wrap .item .label {
  width: 180rpx;
  padding-left: 20rpx;
  line-height: 100rpx;
}

.wrap .item .content {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 20rpx;
  font-weight: 200;
}

.button {
  height: 100rpx;
  margin: 20rpx;
  text-align: center;
  line-height: 100rpx;
  background: #f19a38;
  border-radius: 10rpx;
  color: #fff;
}

.border {
  position: absolute;
  width: 50px;
  height: 50px;
}

.border::after {
  content: '';
  border: solid 1px red;
  position: absolute;
  top: -50%;
  left: -50%;
  bottom: -50%;
  right: -50%;
}